* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#footer {
  background-color: var(--footer-cor);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.Redesociais {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 110px;
}

.logomarca a > img {
  width: 24px;
  height: 24px;
}

.redes {
  display: flex;
  gap: 5px;
}

.redes a:hover img {
  filter: invert(50%) sepia(35%) saturate(738%) hue-rotate(24deg)
    brightness(92%) contrast(90%);
}

/* 92822a*/

.Copyright {
  text-align: center;
  padding: 20px;
}

.logomarca,
.Empresa,
.Funcionalidades,
.Recursos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logomarca div > img {
  width: 24px;
  height: 24px;
}

.Copyright {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  background-color: var(--primary-color);
  width: 100%;
  color: var(--light-text-color);
}

.logomarca img {
  width: 200px;
  height: 80px;
}

@media (width < 1280px) {
  #footer {
    background-color: var(--primary-color);

    a:hover {
      color: var(--secondary-color);
    }

    .redes a:hover img {
      filter: brightness(0) invert(1);
    }
  }

  .Redesociais {
    flex-direction: column;
  }
}
